// Upload.vue 用的样式

.page-upload {

  @edit-pannel-width: 400px;

  // 左边图片栏
  .pic-pannel {
    left: 0;
    right: @edit-pannel-width + 15px;
  }

  // 右边编辑栏
  .edit-pannel {
    right: 0;
    width: @edit-pannel-width;
  }
}
