
.chart-panel {
  /*width: 100%;*/
  border: 1px solid var(--color-border-base);
  border-radius: 4px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

.flex-container {
  display: flex;

  .flex1 {
    flex: 1;
    width: 100%;
  }
}

.hor-space10 {
  margin-right: 10px;
}