@import "utils";

// 文字相关
.text-muted {
  color: var(--color-theme);
}

.text-caption {
  color: $color-caption;
}

.text-primary {
  color: $color-primary;
}

.text-wrap {
  @include text_wrap;
}

.text-link {
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.text-el {
  @include ellipsis;
}
