// login页面的样式

.my-app {

  /** 原来的表格的间隙太大了，减小一点 */
  .table th, .table td {
    //padding: 10px;

    //.text_wrap();
  }

  a {
    color: #337ab7;
    text-decoration: none;
  }

  a:hover {
    color: #23527c;
    text-decoration: underline;
  }

}
