// login页面的样式

.my-app {

  /** 原来的表格的间隙太大了，减小一点 */
  .table th, .table td {
    //padding: 10px;

    //.text_wrap();
  }

  a {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    color: #23527c;
    text-decoration: underline;
  }

  .table-caption {
    border-left: 1px solid #ebeef5;
    border-right: 1px solid #ebeef5;
    color: @color-caption;
    font-weight: 700;
    padding: 6px 10px;
  }

  table.my-table {
    border: 1px solid #ebeef5;
    width: 100%;

    td, th {
      padding-left: 10px;
    }
  }
}

.flex-container {
  display: flex;

  .flex1 {
    flex: 1;
    width: 100%;
  }
}
