// login页面的样式

.my-app {

  a {
    color: @link-color;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    color: @link-hover-color;
    text-decoration: underline;
  }

  .table-caption {
    border-left: 1px solid @color-border;
    border-right: 1px solid @color-border;
    color: @color-caption;
    font-weight: 700;
    padding: 6px 10px;
  }

}

.chart-panel {
  /*width: 100%;*/
  border: 1px solid @color-border;
  border-radius: 4px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

.flex-container {
  display: flex;

  .flex1 {
    flex: 1;
    width: 100%;
  }
}
