@import "mixin/index";
@import "login";
@import "app";
@import "mbean-view";
@import "nav-bar";
@import "my-elementUi";
@import "text";
@import "color";
@import "bootstrap-variables";

@import "bootstrap3/labels";

* {
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.pointer {
  cursor: pointer;
}
