@import "mixin/index";

@import "login";

* {
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;
}

.system-name {
  color: #4DB3A2 !important;
  font-weight: 700;
}
