@import "mixin/index";
@import "login";
@import "app";
@import "mbean-view";
@import "nav-bar";

* {
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;
}


/** 平均每列宽度的表格 */
.table-fixed {
  table-layout: fixed;
}

/** 分组标题 */
.caption {
  color: #4DB3A2;
  font-weight: 700;
}

a {
  color: #337ab7;

}

a:hover {
  color: #23527c;
}
