/** 扩展elementUi的样式 */

.el-table {

  /** 平均每列宽度的表格 */
  &.table-fixed {
    table-layout: fixed;
  }

  &.only-header {
    .el-table__empty-block {
      display: none;
    }
  }
}

.el-card__header {
  background-color: #f5f5f5;
  padding: 10px 15px;
}

.el-button--mini {
  padding: 7px;
}
