/** 扩展elementUi的样式 */

.el-table {

  /** 平均每列宽度的表格 */
  &.table-fixed {
    table-layout: fixed;
  }

  &.only-header {
    .el-table__empty-block {
      display: none;
    }
  }
}

.el-button--mini {
  padding: 7px;
}

/** 模式窗口的标题下面加条分隔先 */
.el-dialog__body {
  position: relative;
  &:after {
    .setTopLine(@color-border);
  }
}
