
// 文字相关
.text-muted {
  color: @color-muted;
}

.text-caption {
  color: @color-caption;
}

.text-primary {
  color: @color-primary;
}

.text_wrap {
  .text_wrap();
}

.text-link {
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
